body {font-family: 'Courier New', Courier, monospace; margin: 0; padding: 0; background-image: radial-gradient(circle, black, rgb(116, 59, 59));}
h1 {text-align: center; margin-top: 20px; color : white;}
h2 {text-align: center; margin-top: 10px; color: white;}
a {color: white; text-align: center; margin: 40px;}
